# List comprehension in Python

It provides a way to create lists using loops, expressions or conditions.

## 1. Creating simple lists using iterations

In [1]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
[n.upper() for n in 'Jeswin']

['J', 'E', 'S', 'W', 'I', 'N']

## 2. Creating a list using iteration and an if statement

`[ expression for item in list if conditional ]`

Q). To get list of even numbers till 30

In [3]:
[i for i in range(30) if i%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Q). To print all vowels in the name 'Jeswin George'

In [4]:
[n.upper() for n in 'Jeswin George'.lower() if n in ('a', 'e', 'i', 'o', 'u')]

['E', 'I', 'E', 'O', 'E']

## 3. Creating a list using list and a nested if statement

Q). To get list of numbers divisible by both 2 and 3 between 31 and 65

In [5]:
[i for i in range(31, 66) if i%2==0 if i%3==0]

[36, 42, 48, 54, 60]

## 4. Creating a list using iteration and if-else statement

Q). To create a list which has tuples with 1st element indicating whether its odd/even and 2nd element gives its square.

In [6]:
[('Even', i**2) if i%2==0 else ('Odd', i**2) for i in range(1, 5)]

[('Odd', 1), ('Even', 4), ('Odd', 9), ('Even', 16)]

## List comprehension with nested loop

In [7]:
[i*j for i in range(1,5) for j in range(5,0,-1)]

[5, 4, 3, 2, 1, 10, 8, 6, 4, 2, 15, 12, 9, 6, 3, 20, 16, 12, 8, 4]

## List comprehension with a conditional statement

In [8]:
[i*j for i in [2,3,5,10] for j in range(1,6) if i%2==0]

[2, 4, 6, 8, 10, 10, 20, 30, 40, 50]

In [9]:
[i*j for i in [2,3,5,10] for j in range(1,51) if i%2==0 if j%5==0]

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 50,
 100,
 150,
 200,
 250,
 300,
 350,
 400,
 450,
 500]

## Nested List comprehension
Q). To get multiples of numbers [2,3,5,10] from 1 to 10 and in form of tuples, Eg: [(2, [0,2,4...]),......]

In [10]:
[(i, [i*j for j in range(11)]) for i in [2,3,5,10]]

[(2, [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]),
 (3, [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]),
 (5, [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]),
 (10, [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])]

Q). To get multiples of numbers [2,3,5,10] from 1 to 10 and in form of tuples, Eg: [(2, [0,2,4...]),......] but only for the even numbers i.e., 2 and 10.

In [11]:
[(i, [i*j for j in range(11)]) for i in [2,3,5,10] if i%2==0]

[(2, [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]),
 (10, [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100])]