In [1]:
import pandas as pd
pd.__version__

'0.24.2'

In [2]:
# creating a pandas series
t = pd.Series(['A', 'B', 'C', 'E'])
t

0    A
1    B
2    C
3    E
dtype: object

In [3]:
type(t)

pandas.core.series.Series

Using [reset_index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.reset_index.html).

In [4]:
# created pandas dataframe df 
df = t.reset_index(name = 'Alphabets')
df

   index Alphabets
0      0         A
1      1         B
2      2         C
3      3         E

In [5]:
type(df)

pandas.core.frame.DataFrame