In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
df['name'] = ['A', 'B', 'C', 'D', 'E']
df['score'] = np.random.randint(low = 5, high = 100, size = 5)
df

  name  score
0    A      7
1    B     57
2    C     82
3    D     53
4    E     58

### [Pandas idxmax()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.idxmax.html#pandas.Series.idxmax)

In [4]:
df['score'].idxmax()

2

### [Pandas idxmin()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmin.html)

In [5]:
df['score'].idxmin()

0