In [1]:
import pandas as pd
import numpy as np

## Break up dates into features of year, month and day 

Reference: [Pandas date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)

In [2]:
df = pd.DataFrame()
df['dates'] = pd.date_range(start = '2019-12-18', periods = 10, freq = '3D')
df

       dates
0 2019-12-18
1 2019-12-21
2 2019-12-24
3 2019-12-27
4 2019-12-30
5 2020-01-02
6 2020-01-05
7 2020-01-08
8 2020-01-11
9 2020-01-14

#### [Pandas datetime-properties](https://pandas-docs.github.io/pandas-docs-travis/reference/series.html#datetime-properties)

A given date can be divided into the follwing features â€“

- __pandas.Series.dt.year__ returns the year of the date.
- __pandas.Series.dt.month__ returns the month of the date. [1(January) to 12(Decemeber)]
- __pandas.Series.dt.day__ returns the day of the date.
- __pandas.Series.dt.weekday__ or __pandas.Series.dt.dayofweek__ returns the week day of the date in terms of 0 to 6. [0(Monday) to 6(Sunday)]
- __pandas.Series.dt.week__ or __pandas.Series.dt.weekofyear__ returns the week ordinal of the year.
- __pandas.Series.dt.dayofyear__ returns the ordinal day of the year.
- __pandas.Series.dt.quarter__ returns the quarter of the date.

In [3]:
df['year'] = df['dates'].dt.year
df['month'] = df['dates'].dt.month
df['day'] = df['dates'].dt.day
df['weekday'] = df['dates'].dt.weekday
df['week'] = df['dates'].dt.week
df['quarter'] = df['dates'].dt.quarter
df

       dates  year  month  day  weekday  week  quarter
0 2019-12-18  2019     12   18        2    51        4
1 2019-12-21  2019     12   21        5    51        4
2 2019-12-24  2019     12   24        1    52        4
3 2019-12-27  2019     12   27        4    52        4
4 2019-12-30  2019     12   30        0     1        4
5 2020-01-02  2020      1    2        3     1        1
6 2020-01-05  2020      1    5        6     1        1
7 2020-01-08  2020      1    8        2     2        1
8 2020-01-11  2020      1   11        5     2        1
9 2020-01-14  2020      1   14        1     3        1

Convert the integer represnting the month and weekday to their names.

__Reference:__ 
- [Python strftime() - programmiz](https://www.programiz.com/python-programming/datetime/strftime)
- [Pyhton documnetation - Python strftime](https://docs.python.org/3.3/library/time.html?highlight=time.strftime#time.strftime)

The `strftime()` method returns a string representing date and time using date, time or datetime object.

In [4]:
df['month-name-full'] = df['dates'].dt.strftime('%B')
df['month-name-short'] = df['dates'].dt.strftime('%b')
df['day-name-full'] = df['dates'].dt.strftime('%A')
df['day-name-short'] = df['dates'].dt.strftime('%a')
df

,dates,year,month,day,weekday,week,quarter,month-name-full,month-name-short,day-name-full,day-name-short
0,2019-12-18,2019,12,18,2,51,4,December,Dec,Wednesday,Wed
1,2019-12-21,2019,12,21,5,51,4,December,Dec,Saturday,Sat
2,2019-12-24,2019,12,24,1,52,4,December,Dec,Tuesday,Tue
3,2019-12-27,2019,12,27,4,52,4,December,Dec,Friday,Fri
4,2019-12-30,2019,12,30,0,1,4,December,Dec,Monday,Mon
5,2020-01-02,2020,1,2,3,1,1,January,Jan,Thursday,Thu
6,2020-01-05,2020,1,5,6,1,1,January,Jan,Sunday,Sun
7,2020-01-08,2020,1,8,2,2,1,January,Jan,Wednesday,Wed
8,2020-01-11,2020,1,11,5,2,1,January,Jan,Saturday,Sat
9,2020-01-14,2020,1,14,1,3,1,January,Jan,Tuesday,Tue