In [1]:
import pandas as pd
import numpy as np

## Break up datetime into features of year, month,day, hour and minutes.

Reference: 
- [Pandas date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html)
- [Frequency timeseries-offset-aliases](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#timeseries-offset-aliases)

In [2]:
# Getting the current system time
from datetime import datetime
now_time = str(datetime.now())
now_time

'2020-02-04 21:31:30.794918'

In [3]:
df = pd.DataFrame()
df['Date_Time'] = pd.date_range(start = now_time, periods = 10, freq = '2h13min37s') # 2hr 13min 37sec
df

                   Date_Time
0 2020-02-04 21:31:30.794918
1 2020-02-04 23:45:07.794918
2 2020-02-05 01:58:44.794918
3 2020-02-05 04:12:21.794918
4 2020-02-05 06:25:58.794918
5 2020-02-05 08:39:35.794918
6 2020-02-05 10:53:12.794918
7 2020-02-05 13:06:49.794918
8 2020-02-05 15:20:26.794918
9 2020-02-05 17:34:03.794918

Reference: [datetime-properties](https://pandas-docs.github.io/pandas-docs-travis/reference/series.html#datetime-properties)

- __Series.dt.time__ : Returns numpy array of datetime.time.
- __Series.dt.hour__ : The hours of the datetime.
- __Series.dt.minute__: The minutes of the datetime.
- __Series.dt.second__: The minutes of the datetime.

In [4]:
df['time'] = df['Date_Time'].dt.time
df['minute'] = df['Date_Time'].dt.minute
df['hour'] = df['Date_Time'].dt.hour
df['second'] = df['Date_Time'].dt.second
df

                   Date_Time             time  minute  hour  second
0 2020-02-04 21:31:30.794918  21:31:30.794918      31    21      30
1 2020-02-04 23:45:07.794918  23:45:07.794918      45    23       7
2 2020-02-05 01:58:44.794918  01:58:44.794918      58     1      44
3 2020-02-05 04:12:21.794918  04:12:21.794918      12     4      21
4 2020-02-05 06:25:58.794918  06:25:58.794918      25     6      58
5 2020-02-05 08:39:35.794918  08:39:35.794918      39     8      35
6 2020-02-05 10:53:12.794918  10:53:12.794918      53    10      12
7 2020-02-05 13:06:49.794918  13:06:49.794918       6    13      49
8 2020-02-05 15:20:26.794918  15:20:26.794918      20    15      26
9 2020-02-05 17:34:03.794918  17:34:03.794918      34    17       3