In [1]:
import pandas as pd
import numpy as np

[pandas.DataFrame.select_dtypes](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html)

In [2]:
df = pd.DataFrame()
df['id'] = [1,2,3,4,5]
df['name'] = ['A', 'B', 'C', 'D', 'E']      
df['enrolled_date'] = pd.date_range(start = '2020-03-28', end = '2020-05-01', periods = 5)
df['avg_marks'] = [34.4,12.4,87.5,65.4,43.6]
df['Pass'] = [True if mark>=40 else False for mark in df['avg_marks']]
df

   id name       enrolled_date  avg_marks   Pass
0   1    A 2020-03-28 00:00:00       34.4  False
1   2    B 2020-04-05 12:00:00       12.4  False
2   3    C 2020-04-14 00:00:00       87.5   True
3   4    D 2020-04-22 12:00:00       65.4   True
4   5    E 2020-05-01 00:00:00       43.6   True

In [3]:
df.dtypes

id                        int64
name                     object
enrolled_date    datetime64[ns]
avg_marks               float64
Pass                       bool
dtype: object

#### Select columns of dataframes having numeric data types

In [4]:
df.select_dtypes(include = ['int', 'float', 'int64', 'int32', 'int16', 'float32', 'float64'])

   id  avg_marks
0   1       34.4
1   2       12.4
2   3       87.5
3   4       65.4
4   5       43.6

In [5]:
# To get list of all columns with numeric data types
list(df.select_dtypes(include = ['int', 'float', 'int64', 'int32', 'int16', 'float32', 'float64']).columns)

['id', 'avg_marks']

#### Select columns having datetype

In [6]:
df.select_dtypes(include = ['datetime64[ns]'])

        enrolled_date
0 2020-03-28 00:00:00
1 2020-04-05 12:00:00
2 2020-04-14 00:00:00
3 2020-04-22 12:00:00
4 2020-05-01 00:00:00

In [7]:
list(df.select_dtypes(include = ['datetime64[ns]']).columns)

['enrolled_date']

#### Select columns having bool data type

In [8]:
df.select_dtypes(include = ['bool'])

    Pass
0  False
1  False
2   True
3   True
4   True

Select columns having object data type

In [9]:
df.select_dtypes(include = ['object'])

  name
0    A
1    B
2    C
3    D
4    E