In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame()
df['id'] = [1,2,3,4,5]
df['name'] = ['A', 'B', np.nan, 'D', np.nan]
df['marks'] = [np.nan]*5
df

   id name  marks
0   1    A    NaN
1   2    B    NaN
2   3  NaN    NaN
3   4    D    NaN
4   5  NaN    NaN

[pandas.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html)

Obtaining all columns having null values

In [3]:
df.isnull().sum() # Get the count of null values in each columns

id       0
name     2
marks    5
dtype: int64

In [4]:
type(df.isnull().sum())

pandas.core.series.Series

In [5]:
list(df.columns[df.isnull().sum() > 0])

['name', 'marks']