In [1]:
import pandas as pd
import numpy as np

## [Pandas filter](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.filter.html)

Subset the dataframe rows or columns according to the specified index labels.

Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index or columns.

The __items__, __like__, and __regex__ parameters are enforced to be mutually exclusive and are used to select the desired column/index.

In [2]:
df = pd.DataFrame([['a','b','c','d','e'],
                  list(range(1,6)),
                  list(range(11,16)),
                  list(range(21,26))], index = ['one', 'two', 'three', 'four'],
                 columns = ['Raj','Ravi','Ram','Abhi','Aman'])
df

      Raj Ravi Ram Abhi Aman
one     a    b   c    d    e
two     1    2   3    4    5
three  11   12  13   14   15
four   21   22  23   24   25

Selecting index using __regex__:

In [3]:
df.filter(regex = 'e$', axis = 0)  # selecting rows having index name ending with e

      Raj Ravi Ram Abhi Aman
one     a    b   c    d    e
three  11   12  13   14   15

Selecting column having string __bh__

In [4]:
df.filter(like = 'bh', axis = 1)

      Abhi
one      d
two      4
three   14
four    24

Select index with a specific name

In [5]:
df.filter(items = ['two', 'three'], axis = 0)

      Raj Ravi Ram Abhi Aman
two     1    2   3    4    5
three  11   12  13   14   15