In [1]:
import pandas as pd
pd.__version__

'0.24.2'

## Creating a wide-format dataframe

In [2]:
dict = {
    "Student": ['A', 'B', 'C', 'D', 'E'],
    "Maths": [100, 98, 78, 89, 91],
    "Science": [67, 89, 66, 79, 90]
}

df = pd.DataFrame(dict)
df

  Student  Maths  Science
0       A    100       67
1       B     98       89
2       C     78       66
3       D     89       79
4       E     91       90

### [Melt function to change dataframe from wide-form to long-form](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.melt.html)

In [3]:
long_df = pd.melt(df, id_vars = ["Student"], value_vars = ["Maths", "Science"])
long_df.columns = ['Student', 'Subjects', 'Marks']
long_df

  Student Subjects  Marks
0       A    Maths    100
1       B    Maths     98
2       C    Maths     78
3       D    Maths     89
4       E    Maths     91
5       A  Science     67
6       B  Science     89
7       C  Science     66
8       D  Science     79
9       E  Science     90