In [1]:
import pandas as pd
import numpy as np
pd.__version__

'0.25.1'

__Wide dataframe__ has a column for each variable. Whereas __long-format dataframe__ has a column for possible variable types & a column for the values of those variables.

## Converting long-format dataframe to wide-format

In [2]:
dict = {
    "Student": ['A', 'B', 'C', 'D', 'E']*3,
    "Subjects": ["Maths"]*5 + ["Science"]*5 + ["English"]*5,
    "Marks": np.random.randint(low = 1, high = 100, size = 15)
    
}

long_df = pd.DataFrame(dict)
long_df

   Student Subjects  Marks
0        A    Maths     27
1        B    Maths     24
2        C    Maths     42
3        D    Maths     75
4        E    Maths     29
5        A  Science     92
6        B  Science     33
7        C  Science     95
8        D  Science     71
9        E  Science     56
10       A  English     14
11       B  English      3
12       C  English     29
13       D  English      7
14       E  English     42

## [Reshaping and pivot tables](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)

Parameters in the `pd.DataFrame.pivot()`:

- __index__: Column whose values were repeated  in the long dataframe.
- __columns__: The columns whose values(str type) will be used as the columns in the wide-form data.
- __values__: Column from the long_df whose values will be mapped to the columns value in the long_df.

In [3]:
wide_df = long_df.pivot(index = 'Student', columns = 'Subjects', values = 'Marks')
wide_df

Subjects  English  Maths  Science
Student
A              14     27       92
B               3     24       33
C              29     42       95
D               7     75       71
E              42     29       56