In [1]:
import pandas as pd
import numpy as np
pd.__version__

'0.24.2'

In [2]:
dict = {
    "Student": ['A', 'B', 'C', 'D', 'E']*2,
    "Subjects": ["Maths"]*5 + ["Science"]*5,
    "Marks": np.random.randint(low = 1, high = 100, size = 10)
    
}

long_df = pd.DataFrame(dict)
long_df

  Student Subjects  Marks
0       A    Maths     29
1       B    Maths     74
2       C    Maths      5
3       D    Maths     25
4       E    Maths     24
5       A  Science     82
6       B  Science      2
7       C  Science     31
8       D  Science     70
9       E  Science      1

## [Reshaping and pivot tables](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html)

In [3]:
wide_df = long_df.pivot(index = 'Student', columns = 'Subjects', values = 'Marks')
wide_df

Subjects  Maths  Science
Student
A            29       82
B            74        2
C             5       31
D            25       70
E            24        1