In [1]:
import pandas as pd
import numpy as np
pd.__version__

'0.24.2'

## 1. To an empty dataframe add columns using list/numpy array/pandas series to it

In [4]:
df = pd.DataFrame()
df['Name'] = ['A', 'B', 'C', 'D', 'E']  # Using list 
df['Age'] = pd.Series([15, 14, 16, 15, 15]) # pandas series
df['Marks'] = np.random.randint(low = 40, high = 99, size = len(df["Name"]))  # using numpy array
df

  Name  Age  Marks
0    A   15     82
1    B   14     59
2    C   16     40
3    D   15     48
4    E   15     85

## 2. Create pandas dataframe from a dictionary using [pd.DataFrame.from_dict](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html)

In [5]:
# create dictionary - cricket
cricket = {'Players': ['Sachin', 'Ganguly', 'Dravid', 'Dhoni'],
          'Span': ['1989-2012', '1992-2007', '1996-2011', '	2004-2019'],
          'Matches': [463, 308, 340, 347],
          'Runs': [18426, 11221, 10768, 10599]}
cricket

{'Players': ['Sachin', 'Ganguly', 'Dravid', 'Dhoni'],
 'Span': ['1989-2012', '1992-2007', '1996-2011', '\t2004-2019'],
 'Matches': [463, 308, 340, 347],
 'Runs': [18426, 11221, 10768, 10599]}

In [6]:
cricket_df = pd.DataFrame.from_dict(cricket)
cricket_df

   Players         Span  Matches   Runs
0   Sachin    1989-2012      463  18426
1  Ganguly    1992-2007      308  11221
2   Dravid    1996-2011      340  10768
3    Dhoni  \t2004-2019      347  10599