In [1]:
import pandas as pd
import numpy as np
pd.__version__

'0.25.3'

In [2]:
df = pd.DataFrame(pd.Series(['20180913', '2019-08-04', '06-09-2017']), columns = ['Dates'])
df

        Dates
0    20180913
1  2019-08-04
2  06-09-2017

In [3]:
df.dtypes

Dates    object
dtype: object

In [4]:
df['Dates'] = pd.to_datetime(df['Dates'])
df

       Dates
0 2018-09-13
1 2019-08-04
2 2017-06-09

In [5]:
df.dtypes

Dates    datetime64[ns]
dtype: object