### [Pandas dataframe transpose](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.transpose.html)

In [1]:
import pandas as pd
import numpy as np
pd.__version__

'0.25.3'

In [2]:
dict_df = {
    "Student": ['A', 'B', 'C', 'D', 'E'],
    "Maths": [100, 98, 78, 89, 91],
    "Science": [67, 89, 66, 79, 90],
    "Arts": [89, 78, 67, 98, 76]
}

df = pd.DataFrame(dict_df)
df

  Student  Maths  Science  Arts
0       A    100       67    89
1       B     98       89    78
2       C     78       66    67
3       D     89       79    98
4       E     91       90    76

In [3]:
df.transpose()

           0   1   2   3   4
Student    A   B   C   D   E
Maths    100  98  78  89  91
Science   67  89  66  79  90
Arts      89  78  67  98  76

In [4]:
# can use the transpose method as an attribute by using .T
df.T

           0   1   2   3   4
Student    A   B   C   D   E
Maths    100  98  78  89  91
Science   67  89  66  79  90
Arts      89  78  67  98  76